In [16]:
import numpy as np
import pandas as pd

In [17]:
df = pd.read_csv("movies_metadata.csv", header = 0)

D:\Anaconda\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [18]:
df.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [19]:
df.columns

Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count'],
      dtype='object')

In [20]:
df = df[['title','genres', 'release_date', 'runtime', 'vote_average', 'vote_count']]

In [21]:
#Extract year from release_date
df['release_date'] = pd.to_datetime(df['release_date'], errors = 'coerce')
df['year'] = df['release_date'].apply(lambda x : str(x).split('-')[0] if x != np.nan else np.nan)

In [22]:
df['year'].head()

0    1995
1    1995
2    1995
3    1995
4    1995
Name: year, dtype: object

In [23]:
#Convert the np.nan values to zero
def convert_int(x):
    try:
        return int(x)
    except:
        return 0
df['year'] = df['year'].apply(convert_int)

In [24]:
#Keep only the columns that are necessary
df = df.drop('release_date', axis = 1)

In [25]:
df.head()

,title,genres,runtime,vote_average,vote_count,year
0,Toy Story,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",81.0,7.7,5415.0,1995
1,Jumanji,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",104.0,6.9,2413.0,1995
2,Grumpier Old Men,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",101.0,6.5,92.0,1995
3,Waiting to Exhale,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",127.0,6.1,34.0,1995
4,Father of the Bride Part II,"[{'id': 35, 'name': 'Comedy'}]",106.0,5.7,173.0,1995

In [26]:
from ast import literal_eval

#Convert all NaN into stringified empty lists
df['genres'] = df['genres'].fillna('[]')

#Apply literal_eval to convert stringified empty lists to the list object
df['genres'] = df['genres'].apply(literal_eval)

#Convert list of dictionaries to a list of strings
df['genres'] = df['genres'].apply(lambda x: [i['name'].lower() for i in x] if isinstance(x, list) else [])

In [27]:
#Create a new feature by exploding genres
s = df.apply(lambda x: pd.Series(x['genres']),axis=1).stack().reset_index(level=1, drop=True)

#Name the new feature as 'genre'
s.name = 'genre'

#Create a new dataframe gen_df which by dropping the old 'genres' feature and adding the new 'genre'.
gen_df = df.drop('genres', axis=1).join(s)

#Print the head of the new gen_df
gen_df.head()

<ipython-input-27-7c71947af915>:2: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  s = df.apply(lambda x: pd.Series(x['genres']),axis=1).stack().reset_index(level=1, drop=True)

       title  runtime  vote_average  vote_count  year      genre
0  Toy Story     81.0           7.7      5415.0  1995  animation
0  Toy Story     81.0           7.7      5415.0  1995     comedy
0  Toy Story     81.0           7.7      5415.0  1995     family
1    Jumanji    104.0           6.9      2413.0  1995  adventure
1    Jumanji    104.0           6.9      2413.0  1995    fantasy

The build chart function
- Get user input on preferences
- Extract all the movies that match the conditions set by the user
- Calculate the values of m and C on only these movies and proceed to build the chart as in the previous section

In [28]:
def build_chart(gen_df, percentile=0.8):
    #Ask for preferred genres
    print("Input preferred genre")
    genre = input()
    
    #Ask for lower limit of duration
    print("Input shortest duration")
    low_time = int(input())
    
    #Ask for upper limit of duration
    print("Input longest duration")
    high_time = int(input())
    
    #Ask for lower limit of timeline
    print("Input earliest year")
    low_year = int(input())
    
    #Ask for upper limit of timeline
    print("Input latest year")
    high_year = int(input())
    
    #Define a new movies variable to store the preferred movies. Copy the contents of gen_df to movies
    movies = gen_df.copy()
    
    #Filter based on the condition
    movies = movies[(movies['genre'] == genre) & 
                    (movies['runtime'] >= low_time) & 
                    (movies['runtime'] <= high_time) & 
                    (movies['year'] >= low_year) & 
                    (movies['year'] <= high_year)]
    
    #Compute the values of C and m for the filtered movies
    C = movies['vote_average'].mean()
    m = movies['vote_count'].quantile(percentile)
    
    #Only consider movies that have higher than m votes. Save this in a new dataframe q_movies
    q_movies = movies.copy().loc[movies['vote_count'] >= m]
    
    #Calculate score using the IMDB formula
    q_movies['score'] = q_movies.apply(lambda x: (x['vote_count']/(x['vote_count']+m) * x['vote_average']) 
                                       + (m/(m+x['vote_count']) * C)
                                       ,axis=1)

    #Sort movies in descending order of their scores
    q_movies = q_movies.sort_values('score', ascending=False)
    
    return q_movies

In [29]:
build_chart(gen_df).head(25)

Input preferred genre
action
Input shortest duration
60
Input longest duration
180
Input earliest year
1990
Input latest year
2020

,title,runtime,vote_average,vote_count,year,genre,score
12481,The Dark Knight,152.0,8.3,12269.0,2008,action,8.242371
15480,Inception,148.0,8.1,14075.0,2010,action,8.053327
4863,The Lord of the Rings: The Fellowship of the Ring,178.0,8.0,8892.0,2001,action,7.929807
5814,The Lord of the Rings: The Two Towers,179.0,8.0,7641.0,2002,action,7.918700
23753,Guardians of the Galaxy,121.0,7.9,10014.0,2014,action,7.840048
2458,The Matrix,136.0,7.9,9079.0,1999,action,7.834049
13605,Inglourious Basterds,153.0,7.9,6598.0,2009,action,7.810209
3456,Gladiator,155.0,7.9,5566.0,2000,action,7.794318
9430,Oldboy,120.0,8.0,2000.0,2003,action,7.716239
24455,Big Hero 6,102.0,7.8,6289.0,2014,action,7.710022
6725,Kill Bill: Vol. 1,111.0,7.7,5091.0,2003,action,7.594848
10839,V for Vendetta,132.0,7.7,4562.0,2006,action,7.583325
582,Terminator 2: Judgment Day,137.0,7.7,4274.0,1991,action,7.575922
7271,Kill Bill: Vol. 2,136.0,7.7,4061.0,2004,action,7.569813
108,Braveheart,177.0,7.7,3404.0,1995,action,7.546502
18252,The Dark Knight Rises,165.0,7.6,9263.0,2012,action,7.543673
42170,Logan,137.0,7.6,6310.0,2017,action,7.518376
25534,Kingsman: The Secret Service,130.0,7.6,6069.0,2015,action,7.515270
23053,Captain America: The Winter Soldier,136.0,7.6,5881.0,2014,action,7.512679
23465,Edge of Tomorrow,113.0,7.6,4979.0,2014,action,7.497659
26566,Guardians of the Galaxy Vol. 2,137.0,7.6,4858.0,2017,action,7.495242
21611,Rush,123.0,7.7,2310.0,2013,action,7.481293
23557,How to Train Your Dragon 2,102.0,7.6,3163.0,2014,action,7.443447
26555,Star Wars: The Force Awakens,136.0,7.5,7993.0,2015,action,7.438222
5,Heat,170.0,7.7,1886.0,1995,action,7.438186

In [30]:
df.to_csv('metadata_clean.csv', index = False)