In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('metadata_clean.csv')
orig_df = pd.read_csv('movies_metadata.csv')

df['overview'], df['id'] = orig_df['overview'], orig_df['id']

df.head()

D:\Anaconda\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,title,genres,runtime,vote_average,vote_count,year,overview,id
0,Toy Story,"['animation', 'comedy', 'family']",81.0,7.7,5415.0,1995,"Led by Woody, Andy's toys live happily in his ...",862
1,Jumanji,"['adventure', 'fantasy', 'family']",104.0,6.9,2413.0,1995,When siblings Judy and Peter discover an encha...,8844
2,Grumpier Old Men,"['romance', 'comedy']",101.0,6.5,92.0,1995,A family wedding reignites the ancient feud be...,15602
3,Waiting to Exhale,"['comedy', 'drama', 'romance']",127.0,6.1,34.0,1995,"Cheated on, mistreated and stepped on, the wom...",31357
4,Father of the Bride Part II,['comedy'],106.0,5.7,173.0,1995,Just when George Banks has recovered from his ...,11862

In [3]:
credits_df = pd.read_csv("credits.csv")
keywords_df = pd.read_csv("keywords.csv")

In [4]:
credits_df.head()

,cast,crew,id
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844
2,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",15602
3,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...",31357
4,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",11862

In [5]:
keywords_df.head()

      id                                           keywords
0    862  [{'id': 931, 'name': 'jealousy'}, {'id': 4290,...
1   8844  [{'id': 10090, 'name': 'board game'}, {'id': 1...
2  15602  [{'id': 1495, 'name': 'fishing'}, {'id': 12392...
3  31357  [{'id': 818, 'name': 'based on novel'}, {'id':...
4  11862  [{'id': 1009, 'name': 'baby'}, {'id': 1599, 'n...

### Preparing the Data
The data used to build this models will include:
- The genre of the movie.
- The director of the movie.
- The movies three major stars
- sub-genres or keywords.

In [6]:
df['id'] = df['id'].astype(int)

ValueError: invalid literal for int() with base 10: '1997-08-20'

In [9]:
#Error handling:
def clean_ids(x):
    try:
        x = int(x)
        return x
    except:
        x = np.nan
        return x

df['id'] = df['id'].apply(clean_ids)

In [10]:
#filtering rows that have a null-id
df = df[df['id'].notnull()]

In [11]:
#converting all ids to int
df['id'] = df['id'].astype(int)
credits_df['id'] = credits_df['id'].astype(int)
keywords_df['id'] = keywords_df['id'].astype(int)

#merging credits and keywords to the main dataframe using id as the key:
df = df.merge(credits_df, on = 'id')
df = df.merge(keywords_df, on = 'id')

df.head()

,title,genres,runtime,vote_average,vote_count,year,overview,id,cast,crew,keywords
0,Toy Story,"['animation', 'comedy', 'family']",81.0,7.7,5415.0,1995,"Led by Woody, Andy's toys live happily in his ...",862,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...","[{'id': 931, 'name': 'jealousy'}, {'id': 4290,..."
1,Jumanji,"['adventure', 'fantasy', 'family']",104.0,6.9,2413.0,1995,When siblings Judy and Peter discover an encha...,8844,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...","[{'id': 10090, 'name': 'board game'}, {'id': 1..."
2,Grumpier Old Men,"['romance', 'comedy']",101.0,6.5,92.0,1995,A family wedding reignites the ancient feud be...,15602,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...","[{'id': 1495, 'name': 'fishing'}, {'id': 12392..."
3,Waiting to Exhale,"['comedy', 'drama', 'romance']",127.0,6.1,34.0,1995,"Cheated on, mistreated and stepped on, the wom...",31357,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...","[{'id': 818, 'name': 'based on novel'}, {'id':..."
4,Father of the Bride Part II,['comedy'],106.0,5.7,173.0,1995,Just when George Banks has recovered from his ...,11862,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...","[{'id': 1009, 'name': 'baby'}, {'id': 1599, 'n..."

In [12]:
from ast import literal_eval

features = ['cast', 'crew', 'keywords', 'genres']

for feature in features:
    df[feature] = df[feature].apply(literal_eval)

In [16]:
df.iloc[1]['crew'][0]

{'credit_id': '52fe44bfc3a36847f80a7cd1',
 'department': 'Production',
 'gender': 2,
 'id': 511,
 'job': 'Executive Producer',
 'name': 'Larry J. Franco',
 'profile_path': None}

In [17]:
#Extract the name of the director
def get_director(x):
    for crew_member in x:
        if crew_member['job'] == "Director":
            return crew_member['name']
    return np.nan

df['director'] = df['crew'].apply(get_director)

In [18]:
df['director'].head()

0      John Lasseter
1       Joe Johnston
2      Howard Deutch
3    Forest Whitaker
4      Charles Shyer
Name: director, dtype: object

In [20]:
df.iloc[1]['cast']

[{'cast_id': 1,
  'character': 'Alan Parrish',
  'credit_id': '52fe44bfc3a36847f80a7c73',
  'gender': 2,
  'id': 2157,
  'name': 'Robin Williams',
  'order': 0,
  'profile_path': '/sojtJyIV3lkUeThD7A2oHNm8183.jpg'},
 {'cast_id': 8,
  'character': 'Samuel Alan Parrish / Van Pelt',
  'credit_id': '52fe44bfc3a36847f80a7c99',
  'gender': 2,
  'id': 8537,
  'name': 'Jonathan Hyde',
  'order': 1,
  'profile_path': '/7il5D76vx6QVRVlpVvBPEC40MBi.jpg'},
 {'cast_id': 2,
  'character': 'Judy Sheperd',
  'credit_id': '52fe44bfc3a36847f80a7c77',
  'gender': 1,
  'id': 205,
  'name': 'Kirsten Dunst',
  'order': 2,
  'profile_path': '/wBXvh6PJd0IUVNpvatPC1kzuHtm.jpg'},
 {'cast_id': 24,
  'character': 'Peter Shepherd',
  'credit_id': '52fe44c0c3a36847f80a7ce7',
  'gender': 0,
  'id': 145151,
  'name': 'Bradley Pierce',
  'order': 3,
  'profile_path': '/j6iW0vVA23GQniAPSYI6mi4hiEW.jpg'},
 {'cast_id': 10,
  'character': 'Sarah Whittle',
  'credit_id': '52fe44bfc3a36847f80a7c9d',
  'gender': 1,
  'id': 5149,
  'name': 'Bonnie Hunt',
  'order': 4,
  'profile_path': '/7spiVQwmr8siw5QCcvvdRG3c7Lf.jpg'},
 {'cast_id': 25,
  'character': 'Nora Shepherd',
  'credit_id': '52fe44c0c3a36847f80a7ceb',
  'gender': 1,
  'id': 10739,
  'name': 'Bebe Neuwirth',
  'order': 5,
  'profile_path': '/xm58rpMRVDHS0IGttw1pTlqGwkN.jpg'},
 {'cast_id': 26,
  'character': 'Carl Bentley',
  'credit_id': '52fe44c0c3a36847f80a7cef',
  'gender': 2,
  'id': 58563,
  'name': 'David Alan Grier',
  'order': 6,
  'profile_path': '/5tkt3qRZTco4sz604aTIarQ0m8W.jpg'},
 {'cast_id': 11,
  'character': 'Carol Anne Parrish',
  'credit_id': '52fe44bfc3a36847f80a7ca1',
  'gender': 1,
  'id': 1276,
  'name': 'Patricia Clarkson',
  'order': 7,
  'profile_path': '/10ZSyaUqzUlKTd60HmeiGhlytZG.jpg'},
 {'cast_id': 14,
  'character': 'Alan Parrish (young)',
  'credit_id': '52fe44bfc3a36847f80a7cad',
  'gender': 0,
  'id': 46530,
  'name': 'Adam Hann-Byrd',
  'order': 8,
  'profile_path': '/hEoqDqtMO91hYWD5iDrDesnLDlt.jpg'},
 {'cast_id': 13,
  'character': 'Sarah Whittle (young)',
  'credit_id': '52fe44bfc3a36847f80a7ca9',
  'gender': 1,
  'id': 56523,
  'name': 'Laura Bell Bundy',
  'order': 9,
  'profile_path': '/8tAVDBRoZPjKfCbBDyh4iK9JNEp.jpg'},
 {'cast_id': 31,
  'character': 'Exterminator',
  'credit_id': '52fe44c0c3a36847f80a7cff',
  'gender': 2,
  'id': 51551,
  'name': 'James Handy',
  'order': 10,
  'profile_path': '/vm0WQmuP8jEGgFTd3VCcJe7zpUi.jpg'},
 {'cast_id': 12,
  'character': 'Mrs. Thomas the Realtor',
  'credit_id': '52fe44bfc3a36847f80a7ca5',
  'gender': 1,
  'id': 56522,
  'name': 'Gillian Barber',
  'order': 11,
  'profile_path': '/qoqPX15J5jh6Sy0A9JvvRJIuw64.jpg'},
 {'cast_id': 28,
  'character': 'Benjamin',
  'credit_id': '52fe44c0c3a36847f80a7cf3',
  'gender': 2,
  'id': 1000304,
  'name': 'Brandon Obray',
  'order': 12,
  'profile_path': None},
 {'cast_id': 29,
  'character': 'Caleb',
  'credit_id': '52fe44c0c3a36847f80a7cf7',
  'gender': 0,
  'id': 188949,
  'name': 'Cyrus Thiedeke',
  'order': 13,
  'profile_path': None},
 {'cast_id': 30,
  'character': 'Billy Jessup',
  'credit_id': '52fe44c0c3a36847f80a7cfb',
  'gender': 0,
  'id': 1076551,
  'name': 'Gary Joseph Thorup',
  'order': 14,
  'profile_path': None},
 {'cast_id': 32,
  'character': 'Cop',
  'credit_id': '5588053fc3a36838530063f5',
  'gender': 0,
  'id': 1480246,
  'name': 'Leonard Zola',
  'order': 15,
  'profile_path': None},
 {'cast_id': 33,
  'character': 'Bum',
  'credit_id': '55935687925141645a002097',
  'gender': 2,
  'id': 25024,
  'name': 'Lloyd Berry',
  'order': 16,
  'profile_path': '/s7SVCOtvcuQ9wRQPZfUdahb5x88.jpg'},
 {'cast_id': 34,
  'character': 'Jim Shepherd',
  'credit_id': '559356d09251415df8002cb7',
  'gender': 2,
  'id': 27110,
  'name': 'Malcolm Stewart',
  'order': 17,
  'profile_path': '/l2vgzkLR7GRr8ugjZCILA0OiliI.jpg'},
 {'cast_id': 35,
  'character': 'Martha Shepherd',
  'credit_id': '55935730925141645a0020ad',
  'gender': 0,
  'id': 53715,
  'name': 'Annabel Kershaw',
  'order': 18,
  'profile_path': '/1VqbvAohBwFhETZtDe76JXQcxKm.jpg'},
 {'cast_id': 36,
  'character': 'Gun Salesman',
  'credit_id': '5593576992514167fd000610',
  'gender': 2,
  'id': 1379424,
  'name': 'Darryl Henriques',
  'order': 19,
  'profile_path': '/7QMHooY9ewNQlE24WKAOdwW0evU.jpg'},
 {'cast_id': 37,
  'character': 'Paramedic',
  'credit_id': '559357ae92514152de002f42',
  'gender': 0,
  'id': 1235504,
  'name': 'Robyn Driscoll',
  'order': 20,
  'profile_path': None},
 {'cast_id': 50,
  'character': 'Paramedic',
  'credit_id': '5657803b925141018f00a5dc',
  'gender': 2,
  'id': 25389,
  'name': 'Peter Bryant',
  'order': 21,
  'profile_path': '/fkcx9Tnp25UC5HlI2eW3nGvumsZ.jpg'},
 {'cast_id': 39,
  'character': 'Girl',
  'credit_id': '559358e292514152de002f63',
  'gender': 0,
  'id': 1483449,
  'name': 'Sarah Gilson',
  'order': 22,
  'profile_path': None},
 {'cast_id': 40,
  'character': 'Girl',
  'credit_id': '5593590d92514152db002df3',
  'gender': 0,
  'id': 1483450,
  'name': 'Florica Vlad',
  'order': 23,
  'profile_path': None},
 {'cast_id': 41,
  'character': 'Baker',
  'credit_id': '55935946c3a36869d1001b4d',
  'gender': 0,
  'id': 1483451,
  'name': 'June Lion',
  'order': 24,
  'profile_path': None},
 {'cast_id': 42,
  'character': 'Pianist',
  'credit_id': '5593597692514167fd000644',
  'gender': 0,
  'id': 1483452,
  'name': 'Brenda Lockmuller',
  'order': 25,
  'profile_path': None}]

In [21]:
df.iloc[1]['keywords']

[{'id': 10090, 'name': 'board game'},
 {'id': 10941, 'name': 'disappearance'},
 {'id': 15101, 'name': "based on children's book"},
 {'id': 33467, 'name': 'new home'},
 {'id': 158086, 'name': 'recluse'},
 {'id': 158091, 'name': 'giant insect'}]

In [22]:
#extracting the first three members of the cast:
def get_list(x):
    if isinstance(x, list):
        names = [element['name'] for element in x]
        if len(names) >= 3:
            names = names[:3]
        return names
    return []

df['cast'] = df['cast'].apply(get_list)
df['keywords'] = df['keywords'].apply(get_list)

In [23]:
df['cast'].head()

0                  [Tom Hanks, Tim Allen, Don Rickles]
1       [Robin Williams, Jonathan Hyde, Kirsten Dunst]
2           [Walter Matthau, Jack Lemmon, Ann-Margret]
3    [Whitney Houston, Angela Bassett, Loretta Devine]
4           [Steve Martin, Diane Keaton, Martin Short]
Name: cast, dtype: object

In [25]:
df.iloc[1]['keywords']

['board game', 'disappearance', "based on children's book"]

In [28]:
# to remove spaces from the names 
# so that entities with same first names are treated differently

def sanitize(x):
    if isinstance(x, list):
        #Strip spaces and convert to lowercase
        return [str.lower(i.replace(" ", "")) for i in x]
    else:
        #Check if director exists. If not, return empty string
        if isinstance(x, str):
            return str.lower(x.replace(" ", ""))
        else:
            return ''

In [29]:
#Apply the generate_list function to cast, keywords, director and genres
for feature in ['cast', 'director', 'genres', 'keywords']:
    df[feature] = df[feature].apply(sanitize)

Now to apply vectorizer, we need a single string of info that consisits of name of directors, cast, genres and keywords.

In [33]:
#Function that creates a soup out of the desired metadata
def create_soup(x):
    return ' '.join(x['keywords']) + ' ' + ' '.join(x['cast']) + ' ' + x['director'] + ' ' + ' '.join(x['genres'])

In [34]:
# Create the new soup feature
df['soup'] = df.apply(create_soup, axis=1)

In [35]:
df.iloc[2]['soup']

'fishing bestfriend duringcreditsstinger waltermatthau jacklemmon ann-margret howarddeutch romance comedy'

### Creating the Count Vectorizer Matrix

Now instead of using TF-IDF we will use Count Vectorizer because TF-IDF will allocate less weight to the directors and actors that appear more frequently.

In [36]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity 

count = CountVectorizer(stop_words = "english")
count_matrix = count.fit_transform(df['soup'])

# While using CountVectorizer it is necessary to use cosine_similarity
cos_sim = cosine_similarity(count_matrix, count_matrix)

### The Recommender Function

In [37]:
#Construct a reverse mapping of indices and movie titles, and drop duplicate titles, if any

df = df.reset_index()
indices = pd.Series(df.index, index = df['title'])

In [38]:
def content_recommendor(title, cosine_sim = cos_sim, df = df, indices = indices):
    idx = indices[title]
    
    sim_scores = list(enumerate(cosine_sim[idx]))
    
    sim_scores = sorted(sim_scores, key = lambda x : x[1], reverse = True)
    
    sim_scores = sim_scores[1:11]
    
    movie_indices = [i[0] for i in sim_scores]
    
    return df['title'].iloc[movie_indices]

In [39]:
content_recommendor('The Lion King')

29607                                          Cheburashka
40904                   VeggieTales: Josh and the Big Wall
40913    VeggieTales: Minnesota Cuke and the Search for...
27768                                 The Little Matchgirl
24654                                  The Seventh Brother
29198                                      Superstar Goofy
30244                                              My Love
31179                Pokémon: Arceus and the Jewel of Life
32498                               Puff, the Magic Dragon
34495                                      Yedyanchi Jatra
Name: title, dtype: object

In [41]:
content_recommendor('Inception')

19503                       Bells of Innocence
19584                                   Looper
28125                                   Zenith
7079                                  Paycheck
8221     Sky Captain and the World of Tomorrow
15990                          2012: Supernova
17572                              Dreamkiller
18075                            Ticking Clock
20543                    Stonehenge Apocalypse
22889                       Behind Enemy Lines
Name: title, dtype: object

In [44]:
content_recommendor('Toy Story')

3024                    Toy Story 2
15519                   Toy Story 3
29198               Superstar Goofy
26001    Toy Story That Time Forgot
22126          Toy Story of Terror!
3336              Creature Comforts
27606                         Anina
25999               Partysaurus Rex
28005                 Radiopiratene
29607                   Cheburashka
Name: title, dtype: object